<nav class="multi-level-nav">
  <ul>
    {% for level1 in site.data.navigation.toc %}
      <li>
        <a href="#">{{ level1.title }}</a>
        {% if level1.subitems %}
          <ul>
            {% for level2 in level1.subitems %}
              <li>
                <a href="#">{{ level2.title }}</a>
                {% if level2.subitems %}
                  <ul>
                    {% for level3 in level2.subitems %}
                      <li><a href="{{ level3.url }}">{{ level3.title }}</a></li>
                    {% endfor %}
                  </ul>
                {% endif %}
              </li>
            {% endfor %}
          </ul>
        {% endif %}
      </li>
    {% endfor %}
  </ul>
</nav>