<nav class="site-nav" style="display: flex; gap: 2.5em; align-items: center; font-size: 1.1em;">
  <a href="/" {% if page.url == "/" %}style="color: red;"{% endif %}>
    Home
  </a>

    <a href="/blog.html" {% if page.url == "/blog.html" %}style="color: #254;"{% endif %}>
    bolg
  </a>

  <a href="/about.html" {% if page.url == "/about.html" %}style="color: red;"{% endif %}>
    关于我
  </a>

<a href="/guestbook.html" {% if page.url == "/guestbook.html" %}style="color: red;"{% endif %}>
  留言板
</a>


  

</nav>